@{
    ViewBag.Title = "Descripción del Sistema";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p>Este sistema de gestión de biblioteca es un proyecto desarrollado para la materia de <span style="font-weight:600">Programación de Aplicaciones Distribuidas</span>. Su objetivo es permitir a una biblioteca administrar de manera eficiente los libros, autores, clientes y préstamos</p>
    <p>Con este sistema, la biblioteca puede:</p>
    <ul>
        <li>Registrar y gestionar libros y autores.</li>
        <li>Mantener información de los clientes que adquieren prestados los libros.</li>
        <li>Registrar préstamos de libros.</li>
        <li>Monitorear los préstamos activos, y actualizar cuando los libros son entregados.</li>
        <li>Automatizar el control de las fechas cuando se entregan los libros.</li>
    </ul>
</main>