@{
    ViewBag.Title = "Datos";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <div class="card mb-3 mx-auto mt-5" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/Assets/imgs/Foto-EmilcePalma.jpg" class="img-fluid rounded-start" alt="Foto de perfil">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Emilce Rocío Palma</h5>
                    <p class="card-text">Estudiante de 4to año de Ingeniería en Sistemas</p>
                    <p class="card-text"><small class="text-body-secondary">Comisión 4K07 - Legajo 52815</small></p>
                    <address class="card-text">
                        <small class="text-body-secondary"><a href="mailto:EmilcePalma@alu.frt.utn.edu.ar">EmilcePalma@alu.frt.utn.edu.ar</a></small>
                    </address>
                </div>
            </div>
        </div>
    </div>


</main>